

<div class='row'>
    <hr />

    <h3 class="text-center great-vibes-regular" style="color:red"><strong>Registraion Not Allowed, Number exceeded!</strong></h3>
    <br />

</div>

<hr />
<p class="footer">For assistance please call : <a href="tel:9873904161">9873904161</a></p>